/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #add8e6;
}

/* regole header */
#header-banner {
    width: 80%;
    margin: 10px auto;
}

#header-banner::after {
    content: "";
    display: table;
    clear: both;
}

#header-banner div, #header-banner nav {
    background-color: #daa520;
    border: 1px dotted black;
    line-height: 30px;
    padding: 0 10px;
    float: left;
}

#header-banner div {
    width: 25%;
}

#header-banner nav {
    width: 50%;
}

#main-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

#login {
    text-align: right;
}

#header-container {
    background-color: #00008b;
    padding: 25px;
}

#header-info {
    background-color: #ee82ee;
    width: 60%;
    height: 200px;
    border: 1px dotted black;
    margin: 0 auto;
}

/* regole main */
.row {
    padding: 25px;
    background-color: #ffffff;
}

.row.even, #row-subscription {
    background-color: #d3d3d3;
}

.row-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.row-container.even {
    flex-direction: row-reverse;
}

.left {
    border: 1px dotted black;
    height: 250px;
    background-color: #1e90ff;
    width: 60%;
}

.right {
    border: 1px dotted black;
    height: 250px;
    background-color: #ffc0cb;
    width: 40%;
}

#row-subscription {
    height: 600px;
    padding: 25px;
}

.row-container.subscription {
    height: 550px;
}

.center {
    background-color: #228b22;
    width: 100%;
    border: 1px dotted black;
    height: 550px;
}

/* regole footer */
footer {
    background-color: #23272a;
}

#up {
    border-bottom: solid white 2px;
}

.footer-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 25px;
}

.item {
    width: 15%;
    height: 550px;
    background-color: #20b2aa;
    border: dotted 2px white;
}

#pink-item {
    width: 40%;
    height: 550px;
    background-color: #f08080;
    border: dotted 2px black;
}

.footer-container.down {
    display: block;
}

#footer-banner {
    height: 30px;
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit {
    width: 60px;
    background-color: #ffb6c1;
    border: dotted 2px #000000;
}

